* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


/* ----- CSS Header  -----*/ 


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 11, 73, 0.99);
    color: #fff;
    padding: 10px 0;
    z-index: 1000; /* Para garantir que o cabeçalho fique acima de outros elementos */
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 11, 73, 0.99);
    color: #fff;
    
}

#logo_header {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #c414b5;

}

nav, ul {
    display: flex;
    flex-direction: row;
       
}

a, li {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

a:hover {
    color: #c414b5;
    font-size: 18px;
    font-weight: 800;
    
}

li {
    margin-left: 27px;
}


/* ----- CSS | Section - #background_1 ----- */ 

#background_1 {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url('../Imagens/Backgroud/programacion.jpg');
    background-size: cover;
    background-position: left;
}

.container {
    margin-top: 100px;
    width: 350px;
    height: 430px;
    background-color:  rgba(0, 11, 73, 0.9);
    border: none;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    
}

.foto {
    width: 200px;
    height: 200px;
    border: 8px solid #c414b5;
    border-radius: 50%;
    background-image: url('../Imagens/Ft.Perfil/FotodePerfil.jpeg');
    background-size: cover;
    background-position: left-center;
    margin-left: 70px;
}

.nome h1 {
    color: #fff;
    font-weight: 500;
}

.nome h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #bbb;
}

.container_social_midia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.social_midia {
    font-size: 30px;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #bbb;
    border-radius: 50%;
    background-color: rgba(0, 11, 73, 0.9);
    align-items: center;
    margin-left: 20px;
    
}

.social_midia_o {
    font-size: 30px;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #bbb;
    border-radius: 50%;
    background-color: rgba(0, 11, 73, 0.9);
    align-items: center;
    
}

.social_midia_o:hover {
    color: #c414b5;
    border: 3px solid #c414b5;
}
.social_midia:hover {
    color: #c414b5;
    border: 3px solid #c414b5;
}

.fab {
   margin-top: 10px;
}

.fas {
    margin-top: 10px;
}

.social_midia p {
    margin-top: 8px;
}


/* ----- CSS | Section - #background_2 ----- */ 
.container_2 {
    margin-top: 90px;
    padding: 20px;
    background-color: rgba(0, 11, 73, 0.9);
    display: grid;
    gap: 10px;
    grid-template: 
        "title title"
        "texto1 texto2"
        "texto3 texto4"
        "texto5 texto5"
    ;
}
.box {
    background-color: rgba(64, 64, 212, 0.89);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.title {
    grid-area: title;
}
.texto1 {
    grid-area: texto1;
    text-align: left;
    font-size: 15px;
}
.texto2 {
    grid-area: texto2;
    text-align: left;
    font-size: 15px;
}
.texto3 {
    grid-area: texto3;
    text-align: left;
    font-size: 15px;
}
.texto4 {
    grid-area: texto4;
    text-align: left;
    font-size: 15px;
}
.texto5 {
    grid-area: texto5;
    text-align: left;
    font-size: 15px;
}


/* ----- CSS | Section - #background_3 ----- */ 


#background_3 {
    background-color: rgba(1, 13, 80, 0.856) ;
    height: 100vh;
    padding: 25px;
}

.title_background_3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#title_skills {
    text-transform: uppercase;
    font-size: 40px;
    color: #c414b5;
    border: #1f1c1cc2;

}



