* {
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgba(0, 11, 73, 0.99);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #fff
    
}

h1 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

nav, ul {
    display: flex;
    flex-direction: row;
    
    
}

a, li {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    color: #fff;
}

li {
    margin-left: 27px;
}

.background_section {
    background-image: url('../Imagens/Backgroud/pc-q606x6d0kzm717or.jpg');
    background-size: cover;
    background-position: center;
}

#background_1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 350px;
    height: 430px;
    background-color:  rgba(0, 11, 73, 0.9);
    border: none;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    
}

.foto {
    width: 200px;
    height: 200px;
    border: 8px solid #FF00FF;
    border-radius: 50%;
    background-image: url('../Imagens/Ft.Perfil/FotodePerfil.jpeg');
    background-size: cover;
    background-position: left-center;
    margin-left: 70px;
}

.nome h1 {
    color: #fff;
    font-weight: 500;
}

.nome h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #bbb;
}

.container_social_midia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.social_midia {
    font-size: 30px;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #bbb;
    border-radius: 50%;
    background-color: rgba(0, 11, 73, 0.9);
    align-items: center;
    margin-left: 20px;
    
}

.social_midia_o {
    font-size: 30px;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #bbb;
    border-radius: 50%;
    background-color: rgba(0, 11, 73, 0.9);
    align-items: center;
    
}

.fab {
   margin-top: 10px;
}

.fas {
    margin-top: 10px;
}

.social_midia p {
    margin-top: 8px;
}


